*{
    background-color:rgba(243, 229, 184, 0.791);
    margin: 0px;
}

h3{color: black;}
.site-header{
    background-image: url('images/download.jpg');
    background-size: cover;
    image-rendering:optimizeQuality
   padding-top: 0px;
   height: 100px;
   border-top: 10px solid white;
   margin-top: 0px;
}